---
import EditLink from 'virtual:starlight/components/EditLink';
import LastUpdated from 'virtual:starlight/components/LastUpdated';
import Pagination from 'virtual:starlight/components/Pagination';
---

<footer class="sl-flex">
	<div class="meta sl-flex">
		<EditLink />
		<LastUpdated />
	</div>
	<Pagination />
	<div class="copyright">
		&copy; 2026 <a href="https://wesmckinney.com">Wes McKinney</a>
	</div>
</footer>

<style>
	footer {
		flex-direction: column;
		gap: 1.5rem;
	}
	.meta {
		gap: 0.75rem 3rem;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 3rem;
		font-size: var(--sl-text-sm);
		color: var(--sl-color-gray-3);
	}
	.meta > :global(p:only-child) {
		margin-inline-start: auto;
	}
	.copyright {
		margin: 1rem auto;
		font-size: var(--sl-text-xs);
		color: var(--sl-color-gray-3);
	}
	.copyright a {
		color: var(--sl-color-gray-3);
		text-decoration: none;
	}
	.copyright a:hover {
		color: var(--sl-color-white);
	}
</style>
